{% if clases and clases|length > 0 %}
    <ul class="list-group">
        {% for clase in clases %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <!-- Mostrar el nombre de la clase y la fecha -->
                {{ clase.nombre }} - Fecha: {{ clase.fecha.strftime('%d/%m/%Y') }}
                
                <!-- Botón para ver los detalles de la clase -->
                <a href="{{ url_for('docente.docente_clases.clase_detalle', clase_id=clase.id_clase) }}" class="btn btn-primary btn-sm">Ver detalles</a>
                <p>URL generada: {{ url_for('docente.clases.clase_detalle', clase_id=clase.id_clase) }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay clases asignadas para este taller.</p>
{% endif %}
